.fadein {
  opacity: 1;
  -webkit-transition: opacity 1s ease-in;
}

.fadeout {
  opacity: 0;
  -webkit-transition: opacity 1s ease-out;
}

textarea {
    font: 16px "Source Sans", helvetica, arial, sans-serif;
    font-weight: 200;
    display: block;
    -webkit-border-radius: 6px;
    width: 100%;
    height: 140px;
}

#connection {
    margin-bottom: 40px;
    text-align:center;
}

#chat {
    /*display:none; */
    margin: 20px;
}

#sendButton {
    margin-top: 4px;
}

#message {
    max-width: 185px;
}

select {
    min-width: 200px;
}

form {
    margin-bottom: 20px;
}

footer {
    margin: 20px;
}
